.thread{
	cursor: pointer;
}

.title{
	color: #f58025;
}

.focus{
	cursor: pointer;
	background-color: #f58025;
	color: #fff;
	font-weight: bold;
}

.selected{
	background-color: #f58025;
	color: #fff;
	font-weight: bold;
}

.asc:after{
	content: "\25B2";
}

.desc:after{
	content: "\25BC";
}