.message .panel-heading, .message .panel-footer {
    display: flex;
    flex-direction: row;
}

.message .panel-heading.new{
    background-color: red;
}

textarea.edit {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 10px;
    resize: vertical;
    border-style: dotted;
}

.reply-btn, .edit-btn, .delete-btn {
    cursor: pointer;
    background: none;
    margin-left: 5px;
    color: #f58025;
    border: 0;
}

.flex {
    display: flex;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.flex-spacer {
    flex: 1;
}

.reply-block textarea {
    resize: vertical;
    height: 150px;
    margin-bottom: 10px;
}

.message-anchor, .message-anchor:hover, .message-anchor:active, .message-anchor:focus {
    color: white;
}


.more, .less {
    margin-left: 15px;
    margin-top: 5px;
}

.skill-title {
    font-size: 12px;
}



