-extends "student_collaboration/template.haml"

-block content-student
  :css
    #filter-history-IO{
      padding-bottom: 2%;
    }
    #history.table thead{
      background-color:#f57c00;
    }


  %div#filter-history-IO
    %form{action : "{% url 'help_request_history' %}", method : "GET"}
      %label Afficher :
      %select{name : "requests", id : "test"}
        %option{value : "all", selected} Tout
        %option{value : "request"} Aide demandée
        %option{value : "provide"} Aide fournie
      %input{type : "submit", value : "Filtrer"}
    %br

  %table#history.table.table-bordered
    %thead
      %tr
        %th Compétence(s)
        %th Date
        %th Discussion
        %th Clôturer
    %tbody
    {% for help_request in open_help_requests %}
      %tr
        %td
          %ul
          {% for skill in help_request.skill.all %}
            %li {{ skill }}
          {% endfor %}
        %td {{ help_request.timestamp }}
        -if help_request.state  == "Accepted"
          %td
            %a.list-group-item{href: "{% url 'view_thread' help_request.thread.pk %}"}
                .a.text-primary.hover
                    Ouvrir discussion
        -elif help_request.state == "Closed"
          %td Cloturée
        -else
          %td En attente d'acceptation
        %td
          %form{action : "{% url 'help_request_history' %}", method : "GET"}
            %input{type:"submit", value: "Clôturer"}
            %input{type:"hidden", name:"id" ,value: "{{help_request.id}}"}
            %input{type:"hidden", name:"requests" ,value: "{{currentStatus}}"}
    {% endfor %}
