-extends "student_collaboration/template.haml"

-block content-student
  :css
    #filter-history-IO{
      padding-bottom: 2%;
    }
    #history.table thead{
      background-color:#f57c00;
    }

  %div#filter-history-IO
    %form{action : "{% url 'help_request_history' %}", method : "GET"}
      %label Afficher :
      %select{name : "requests", id : "test"}
        %option{value : "all"} Tout
        %option{value : "request"} Aide demandée
        %option{value : "provide"} Aide fournie
      %input{type : "submit", value : "Filtrer"}
      %input{type:"hidden", name:"showClosed" ,value: "{{showClosed}}"}
      %input{type:"hidden", name:"sort",value: "{{sort}}"}
    %br

  %div#closed-history-IO
    %form{action : "{% url 'help_request_history' %}", method : "GET"}
      %label  Montrer les requêtes clôturées :
      -if showClosed == "1"
        %input{type : "checkbox", value : "Montrer les requêtes clôturées", onChange : "this.form.submit()" }
        %input{type:"hidden", name:"requests" ,value: "{{currentStatus}}"}
        %input{type:"hidden", name:"showClosed" ,value: "0"}
      -else
        %input{type : "checkbox", value : "Montrer les requêtes clôturées", onChange : "this.form.submit()",checked}
        %input{type:"hidden", name:"requests" ,value: "{{currentStatus}}"}
        %input{type:"hidden", name:"showClosed" ,value: "1"}
        %input{type:"hidden", name:"sort",value: "{{sort}}"}
    %br

  %div#sort-history-IO
    %form{action : "{% url 'help_request_history' %}", method : "GET"}
      %label Trier par :
      %select{name : "sort", id : "test2"}
        %option{value : "timestamp", selected} Date
        %option{value : "skill"} Compétence
        %option{value : "state"} Status
      %input{type : "submit", value : "Trier"}
      %input{type:"hidden", name:"showClosed" ,value: "{{showClosed}}"}
      %input{type:"hidden", name:"requests" ,value: "{{currentStatus}}"}
    %br

  %div#sortbyskill-history-IO
    %form{action : "{% url 'help_request_history' %}", method : "GET"}
      %label Ne montrer que les requêtes possédant le skill:
      {{ skills.as_p }}
      %input{type : "submit", value : "Trier"}
      %input{type:"hidden", name:"showClosed" ,value: "{{showClosed}}"}
      %input{type:"hidden", name:"requests" ,value: "{{currentStatus}}"}
      %input{type:"hidden", name:"sort",value: "{{sort}}"}
    %br

  %table#history.table.table-bordered
    %thead
      %tr
        %th Compétence(s)
        %th Date
        %th Discussion
        %th Clôturer
    %tbody
    {% for help_request in open_help_requests %}
      %tr
        %td
          %ul
          {% for skill in help_request.skill.all %}
            %li {{ skill }}
          {% endfor %}
        %td {{ help_request.timestamp }}
        -if help_request.state  == "Accepted"
          -if help_request.thread
            %td
              %a.list-group-item{href: "{% url 'view_thread' help_request.thread.pk %}"}
                .a.text-primary.hover
                    Ouvrir discussion
          -else
            %td Pas de discussion en cours
        -elif help_request.state == "Closed"
          %td Cloturée
        -else
          %td En attente d'acceptation
        %td
          -if help_request.state != "Closed"
            %form{action : "{% url 'help_request_history' %}", method : "GET"}
              %input{type:"submit", value: "Clôturer"}
              %input{type:"hidden", name:"id" ,value: "{{help_request.id}}"}
              %input{type:"hidden", name:"requests" ,value: "{{currentStatus}}"}
              %input{type:"hidden", name:"showClosed" ,value: "{{showClosed}}"}
              %input{type:"hidden", name:"sort",value: "{{sort}}"}
    {% endfor %}
