-extends "student_collaboration/template.haml"

-block content-student
  :css
    #filter-history-IO{
      padding-bottom: 2%;
    }
    #history.table thead{
      background-color:#f57c00;
    }


  %div#filter-history-IO
    %form{action : "{% url 'help_request_history' %}", method : "GET"}
    %label Show :
    %select{name : "requests", id : "test"}
      %option{value : "all", selected} All
      %option{value : "request"} Requested
      %option{value : "provide"} Provided
    %input{type : "submit", value : "Filtrer"}
    %br

  %table#history.table.table-bordered.table-hover
    %thead
      %tr
        %th Skill
        %th Date
        %th Thread
        %th Close
    %tbody
    {% for help_request in open_help_requests %}
      %tr
        %td
          %ul
          {% for skill in help_request.skill.all %}
            %li {{ skill }}
          {% endfor %}
        %td {{ help_request.timestamp }}
        -if help_request.state  == "Accepted"
          %td Thread
        -elif help_request.state == "Closed"
          %td Closed
        -else
          %td No thread
          %td
            %button{type:"button"}
              %a{href : "{% url 'change_history' currentStatus help_request.id%}"} Close
    {% endfor %}
