-extends "student_collaboration/template.haml"

-block content-student

  {% if open_help_requests|length > 0 %}
    %table#provide-help.table.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Skill
          %th Date
          %th
      %tbody
      {% for help_request in open_help_requests %}
        %tr
          %td {{ help_request.student }}
          %td
            %ul
            {% for skill in help_request.skill.all %}
              %li {{ skill }}
            {% endfor %}
          %td {{ help_request.timestamp }}
          -if help_request.student.studentcollaborator.pk == currentUserPk
            %td
          -else
            %td
              %button{type:"button"}
                %a{href : "{% url 'reply_help' help_request.id %}"} Accepter
      {% endfor %}
    {% else %}
      %p.transparent-frame.col-md-5.center-block  Vous ne pouvez aider personne pour le moment.
    {% endif %}