-extends "base.haml"

-block content
  %table
    <thead>
      <tr>
        <th>Name</th>
        <th>Skill</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for help_request in open_help_requests %}
      <tr>
        <td>{{ help_request.student }}</td>
        <td>
          <ul>
          {% for skill in help_request.skill.all %}
            <li>{{ skill }}</li>
          {% endfor %}
          </ul>
        </td>
        <td>{{ help_request.timestamp }} </td>
        <td><a href= "{% url 'reply_help' help_request.id %}">"Accepter"</a> </td>
      </tr>
    {% endfor %}
    </tbody>