-extends "student_collaboration/template.haml"

-block content-student

  <form method="post">
    {% csrf_token %}
    {{ skill_form.as_p }}
    <button type="submit">Send help request</button>
  </form>