-extends "student_collaboration/template.haml"

-block content-student

  {% if skill_form.liste|length <= 0%}
    .well
      Vous n'avez pour l'instant aucune compétence nécessitant de l'aide
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{ skill_form.as_p }}
      <button type="submit">Send help request</button>
    </form>
  {% endif %}