-extends "student_collaboration/template.haml"

-block content-student

  {% csrf_token %}
  {% if not has_a_skill%}
    .well
      Vous n'avez pour l'instant aucune compétence nécessitant de l'aide
  {% else %}
    <form method="post">
      {{ skill_form.as_p }}
      <button type="submit">Send help request</button>
    </form>
  {% endif %}