-extends "student_collaboration/template.haml"
-load static
{% load widget_tweaks %}



-block content-student
  {% if skill_form.list|length <= 0%}
  .transparent-frame.center-block.col-md-8
    Vous n'avez pour l'instant aucune compétence nécessitant de l'aide
  {% else %}

    .transparent-frame.center-block.col-sm-8
      %label Vous pouvez demander de l'aide pour les compétences suivantes :

      %form{method : "post"}
        {% csrf_token %}
        {% for field in skill_form.visible_fields %}
          {% if field.errors %}
            %ul
              {% for error in field.errors %}
                %li
                  {{ error }}
              {% endfor %}
          {% endif %}
          %div.form-group
            %div
              {%render_field field class="form-control" %}
        {% endfor %}
        %button.btn.btn-primary#send_help_request{type : "submit"} Send help request

  {% endif %}

  :javascript
    $(document).ready( function() {
      $('#unmastered-skill-select').multiselect({
        buttonWidth: '500px',
        buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Pas de compétence(s) sélectionnée(s)...';
                }
                else if (options.length === 1) {
                    return '1 compétence sélectionnée';
                }
                else if (options.length >= 2) {
                    return options.length + ' compétences sélectionnées';
                }
                 else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     return labels.join(', ') + '';
                 }
            }
      });
    });
