-extends "student_collaboration/template.haml"

-block content-student
  .well
    {% if skill_form.list|length <= 0%}
      Vous n'avez pour l'instant aucune compétence nécessitant de l'aide
    {% else %}
      Vous pouvez demander de l'aide pour les compétences suivantes :
      <form method="post">
        {% csrf_token %}

        {{ skill_form.as_p }}

        <button type="submit">Send help request</button>
      </form>




    {% endif %}