-extends "student_collaboration/template.haml"

-block content-student

  <form method="post">
    {% csrf_token %}
    {{ student_form.as_p }}
    {{ settings_form.as_p }}
    <button type="submit">Save changes</button>
  </form>