-extends "student_collaboration/template.haml"

-block content-student
  - if not user.student.studentcollaborator.collaborative_tool
    .well
      L'outil de collaboration est actuellement désactivé.<br>
    %a.btn.btn-primary.btn-lg{href: "{% url 'settings' %}"} Configurer

  - else
    -#.well
      Notifications :