-extends "student_collaboration/template.haml"
{% load notifications_tags %}

-block content-student
  - if not user.student.studentcollaborator.collaborative_tool
    .transparent-frame.col-md-5.center-block
      %p L'outil de collaboration est actuellement désactivé.<br>
    %a.btn.btn-primary.btn-lg{href: "{% url 'settings' %}"} Configurer
  - else
    .transparent-frame.col-md-8.center-block
      {% url 'notifications' as url %}
      -#{% live_notify_badge classes="badge notifications-badge-class" %}
      {% notifications_unread as unread_count %}
      {% if unread_count %}
        Vous avez {% live_notify_badge classes="badge notifications-badge-class" %} notification(s) non lue(s).
        {% live_notify_list classes="notifications-list-class list-unstyled" %}
        %a{href: '#', id: 'markAllAsRead'} Tout marquer comme lu
      {% else %}
        %p Pas de nouvelles notifications.
      {% endif %}


  :javascript
    $(document).ready(function(){
      $('#markAllAsRead').on('click', function(){
        mark_all_as_read();
        window.location.reload();
      });

      function mark_all_as_read() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", window.location.origin + "/inbox/notifications/mark-all-as-read", true);
        xhttp.send();
      }
    });

