-extends "base.haml"

-block content
  -# center the pills
  :css
    .center-pills {
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 5px;
    }

  .page-header
    %h1 Student Collaboration - {{ user.username }}

  .container-fluid.boxclasseTitle
    -# TODO [Loan] Refactor avec un for, beaucoup de copier coller pour des comportements redondants
    %ul.nav.nav-pills.center-pills
      {% url 'collaborative_home' as url %}
      %li.nav-item{class: "{% if request.path == url %}active{% endif %}"}
        %a.nav-link{href: "{% url 'collaborative_home' %}"} Accueil
      {% url 'settings' as url %}
      %li.nav-item{class: "{% if request.path == url %}active{% endif %}"}
        %a.nav-link{href: "{% url 'settings' %}"} Réglages

      - if user.student.studentcollaborator.collaborative_tool
        {% url 'request_help' as url %}
        %li.nav-item{class: "{% if request.path == url %}active{% endif %}"}
          %a.nav-link{href: "{% url 'request_help' %}"} Demander de l'aide
        {% url 'provide_help' as url %}
        %li.nav-item{class: "{% if request.path == url %}active{% endif %}"}
          %a.nav-link{href: "{% url 'provide_help' %}"} Fournir de l'aide
        {% url 'help_request_history' as url %}
        %li.nav-item{class: "{% if request.path == url %}active{% endif %}"}
          %a.nav-link{href: "{% url 'help_request_history' %}"} Historique
