-extends "base.haml"

-load static
-load student_tags
-load compress

-block head

-block content
	{% if user.id is not None %}

		.page-header
			%h1 Forum - {{ user.username }}

		.container-fluid.boxclasseTitle
			.center
		    	%table.table.table-hover
		    		%tr
		    			%th 
		    				%center Titre
		          		%th 
		          			%center Auteur
		          		%th
		          			%center Compétence(s)
		          		%th
		          			%center Date

		        	{% if threads %}
		        		-for thread in threads
		        			<tr style="cursor:pointer;" onclick="window.location='/forum/thread/{{thread.id}}';">
						        %td
						            %a{:href => "/forum/thread/{{thread.id}}", :style => "text-decoration: none;" }>{{thread.title}}
						        %td {{thread.author.username}}
						        %td
						            {% if thread.skills.all %}
							            -for skill in thread.skills.all
							            	{{skill.name}}
							            	%br
							        {% else %}
							            Aucune compétence liée
							        {% endif %}
						        %td {{thread.modified_date}}
		        			</tr>
			    	{% else %}
			    		%tr
			    			%td Aucune conversation trouvée
			    	{% endif %}
				%a.btn.btn-primary.btn-lg{:href => "/forum/write/"}>Démarrer une nouvelle discussion
	{% else %}
		Vous n'êtes pas identifié !
	{% endif %}
