.panel.panel-default.message{:style => "margin-left: {{level|reply_margin}}px", :id => "message-{{message.id}}"}
  .panel-heading
    %span.message-author= message.author.username
    %span.flex-spacer
    %span.message-date
      %a.message-anchor{href: "#message-{{message.id}}"} {{message.created_date}}
  .panel-body{:class => "message-content"}= message.content
  .panel-footer
    %span.flex-spacer
    -if user|can_edit:message
      %a
        %i.fa.fa-edit.edit-btn
    %input#message_id{:type => "hidden", :value => ""}
    %a{:href => "?reply_to={{message.id}}#message-{{message.id}}"}
      %i.fa.fa-reply.reply-btn#btn

-if reply_to|is_reply_to:message
  {% reply_form_partial %}
  <br/>

- for reply in message.replies
  {% message_partial reply user reply_to level %}
