.panel.panel-default.message{:style => "margin-left: {{level|reply_margin}}px", :id => "message-{{message.id}}"}
  -if message.created_date > last_visit
      .panel-heading.new
          %span.message-author= message.author.username
          %span.flex-spacer
          %span.message-date
            %a.message-anchor{href: "#message-{{message.id}}"} {{message.modified_date}}
  -else
      .panel-heading
          %span.message-author= message.author.username
          %span.flex-spacer
          %span.message-date
            %a.message-anchor{href: "#message-{{message.id}}"} {{message.modified_date}}
  .panel-body{:class => "message-content"}
    -if message|is_editing:edit
      %form{:action => "/forum/thread/{{message.thread.id}}/edit/{{message.id}}", :method => "POST", :enctype => 'multipart/form-data'}
        {% csrf_token %}
        %textarea.edit#edit-textarea{:name => "content"}= message.content
        %div.flex
          %input.upload{:type => "file", :name => 'file'}
          .flex-spacer
          %a.btn.btn-secondary.btn-lg{:href => "./{{message.thread.id}}#message-{{message.id}}", :type => 'button'} Back
          %button.btn.btn-primary#edit-confirm{:type => "submit", :disabled} Confirm
    -else
      %div= message.content
  .panel-footer
    -for attach in message.attachments
      %a.btn.btn-default.btn-sm{:href => "{{attach.file.url}}" }
        %i.attach-btn
        {{attach.file.name}}
    %span.flex-spacer
    -if user|can_update:message
      %form{:action => "/forum/thread/{{message.thread.id}}/delete/{{message.id}}", :method => "POST"} {% csrf_token %}
        %button.delete-btn{:type => "submit"}
          %i.fa.fa-trash

    -if user.professor
      %a{:href => "/forum/mail?message={{message.id}}"}
        %i.fa.fa-at.reply-btn#btn

    -if user|can_update:message
      %a.edit-btn{:href => "?edit={{message.id}}#message-{{message.id}}"}
        %i.fa.fa-edit

    %input#message_id{:type => "hidden", :value => ""}
    %a{:href => "?reply_to={{message.id}}#message-{{message.id}}"}
      %i.fa.fa-reply.reply-btn#btn


-if reply_to|is_reply_to:message
  {% reply_form_partial message %}
  <br/>

- for reply in message.replies
  {% message_partial reply user reply_to last_visit edit level %}



