-extends "base.haml"
-load static
-load compress
-load forum_tags


-block head
  -compress css
    %link{rel: "stylesheet", href: "{% static 'css/thread.css' %}" }
  
-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "/forum"} Forum
    %li.active
      %a{href: "/forum/thread/{{thread.id}}"} {{ thread.title }}


-block content
  .page-header
    %h1= thread.title
    - if thread.section is not None
      %h5= thread.section.name
    - for skill in thread.skills.all
      %h6.skill-title= skill.name

  .messages
    - for message in messages
      {% message_partial message user reply_to last_visit edit 0 %}

  -if reply_to is None
    .reply-block
      %form{:action =>'' , :method => 'post', :enctype => 'multipart/form-data'} {% csrf_token %}
        %textarea.form-control#content{:name => 'content'}
        .flex
          %input.upload{:type => "file", :name => 'file'}
          .flex-spacer
          %button.btn.btn-primary.btn-lg#reply-btn{:type => "submit", :disabled} Reply



-block javascript
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/readmore.js' %}"}
    %script{type: "text/javascript", src: "{% static 'js/file-icon.js' %}"}
  :javascript
    $(document).ready(function() {
    
      $('.panel-body').readmore({
        speed: 500,
        moreLink: ' <a href="#" class="more">Afficher la suite</a>',
        lessLink: ' <a href="#" class="less">Afficher moins</a>',
      });

      $('.attach-btn').each(function() {
        $(this).addClass(fileicon($(this).parent().attr('href')))
      })
    
      $textarea = $('#content')
      $editTextarea = $('#edit-textarea')
      $reply = $('#reply-btn')
      $editConfirm = $('#edit-confirm')


      function disableButton($btn, disabled) {
        $btn.prop('disabled', disabled)
      }


      disableButton($reply, $textarea.text().length == 0)
      disableButton($editConfirm, false)

      $editTextarea.bind('input propertychange', function() {
        disableButton($editConfirm, !this.value || this.value.length == 0)
      });

      $textarea.bind('input propertychange', function() {
        disableButton($reply, !this.value || this.value.length == 0)
      });

    })


